.heading {
    text-align: center;
    text-decoration: underline;
    margin-top: 15%;
}
.head2 {
  text-align: center;

}
.head3 {
    text-align: center;
  
  }
  .head4 {
    text-align: center;
  
  }

